<div class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="javascript:;">WAR2014</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class=""><a href="javascript:;" ng-click="go_to_welcome_page()">welcome</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li class=""><a href="javascript:;" ng-click="go_to_register_page()">register</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li class="active"><a href="javascript:;" ng-click="go_to_create_user()">login</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="container">
    <h3>what a new day</h3>
</div>
