<div class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="javascript:;">WAR2014</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="javascript:;">welcome</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li class=""><a href="javascript:;" ng-click="go_to_create_user()">register</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li class=""><a href="javascript:;" ng-click="go_to_login_page()">login</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="container">
    <div class="form-group input-group ">
        <button type="button" class="btn btn-primary btn " ng-click="go_to_create_user()">sign in now</button>
    </div>
    <div class="form-group input-group ">
        <input type="search" class="form-control" />
        <span class="input-group-btn ">
            <button class="btn btn-default" type="button" >Search</button>
        </span>
    </div>
</div>

<div class="container">

    <table id="user-table" class="table table-bordered">
        <thead>
        <tr>
            <th><input type="checkbox" ng-model="selectedAll" ng-change="select_all_or_select_none()"/></th>
            <th>ID</th>
            <th>User Name</th>
            <th>Role</th>
            <th>Email</th>
            <th>Id Number</th>
            <th>Operation</th>
        </tr>
        </thead>
        <tbody>
            <tr class="user_line" ng-repeat="user in users">
                <td><input type="checkbox" ng-model="user.selected"/></td>
                <td> {{user.id}}</td>
                <td> {{user.name}} </td>
                <td> {{user.role}} </td>
                <td> {{user.email}} </td>
                <td>{{user.idNumber}}</td>
                <td>
                    <button class="btn" ng-click="deleteUser(user.id)">delete </button>
                </td>
            </tr>
        </tbody>
    </table>

    <ul class="pagination">
        <li><a href="#">&laquo;</a></li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">&raquo;</a></li>
    </ul>
</div>