<div class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="javascript:;">WAR2014</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class=""><a href="javascript:;" ng-click="go_to_welcome_page()">welcome</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li class="active"><a href="javascript:;">register</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li class=""><a href="javascript:;" ng-click="go_to_login_page()">login</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="container">
    <form role="form">
        <div class="form-group">
            <label>Email address</label>
            <input type="email" class="form-control" placeholder="Enter email" ng-model="user.email">
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" placeholder="Password" ng-model="user.password">
        </div>
        <div class="form-group">
            <label>Retype password</label>
            <input type="password" class="form-control " placeholder="Retype password" ng-model="user.re_password">
        </div>

        <button type="submit" class="btn btn-default pull-right" ng-disabled="is_disabled()" ng-click="to_complete_information()">next-></button>
    </form>

</div>